@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bg1{
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.bg2{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}